<div class="header">
  <h1>Review for <%= @cocktail.name %></h1>
  <p>Leave a review for this cocktail</p>
</div>

<%= simple_form_for [@cocktail, @review] do |f| %>
  <%= f.input :stars %>
  <%= f.input :description %>
  <%= f.submit "Submit review", class: "btn btn-primary" %>
<% end %>
